.alert-common{
    position: absolute;
    width: 8rem;
    height: 5.6267rem;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
}
.alert-close{
    position: absolute;
    width: .8rem;
    height: .8rem;
    right: -.2rem;
    top: -.2rem;
}
.alert-content {
    padding: 1.6rem .7rem;
    line-height: 1rem;
    font-size: .5rem;
    text-align: center;
}
.modal-content{
    font-size: .6rem;
    line-height: 2.7rem;
    text-align: center;
}
.modal-desc{
    font-size: .4rem;
    text-align: center;
}
.alert-score{
    height: 9.484rem;
}
.alert-score-time{
    padding: .3rem;
    height: 1.67rem;
    font-size: .5rem;
    text-align: center;
}
.alert-score-time>div{
    margin-bottom: 5px;
}
.ranks{
    padding: 0 .7rem;
}
.ranks .ranks-title{
    font-size: .4rem;
    line-height: .8rem;
    text-align: center;
}
.ranks .ranks-list ul{
    height: 4.9rem;
    overflow-y: scroll;
}
.ranks .ranks-list ul li {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: .3rem;
    padding: .25rem 0;
    border-bottom: 1px solid #ececec;
}
.play-again-button{
    position: absolute;
    width: 80%;
    left: 50%; 
    bottom: -3rem;
    transform: translate(-50%,-50%);
}
