.canvas-count-wrap{
    display: flex;
    align-content: center;
    justify-content: space-between;
}
.canvas-count-wrap .canvas-count-common {
    position: relative;
    background: rgba(0,0,0,.5);
    cursor: pointer;
    padding: 4px;
    margin: 10px;
    border-radius: 20px;
    border: 1px solid #a29936;
}

.canvas-count-common img{
    position: absolute;
    border-radius: 50%;
    border: 2px solid #efd736;
    background: rgba(0,0,0,.5);
}
.canvas-count-common .user-avator{
    top: -2.5px;
    left: -5px;
}
.canvas-count-common .user-clock{
    top: -1.5px;
    left: -10px;
    border: none;
}

#clickNum,#countTime{
    width: 70px;
    margin-left: 10px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: .35rem;
}

