.canvas-count-wrap{
    display: flex;
    align-content: center;
    justify-content: space-between;
    position: absolute;
    width: 100%;
}

.maopaoCanvas  {
    position:absolute;
    top:64px;
}
.audio-wrap{
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: .8rem;
    height: .8rem;
}
.audio-wrap>img{
    width: 100%;
    height: 100%;
}

