.neck{
    font-size: .6rem;
    text-align: center;
}
.neck-title{
    width: 2.5rem;
    padding: .2rem;
    margin: 0 auto;
    border-bottom: 1px solid #95f3fd;
    text-shadow: 2px 2px 8px #f2dd50;
}
.neck-common{
    margin: .3rem 0;
}
.neck-common span{
    color: #f2dd50;
}
.neck-tab{
    width: 90%;
    margin: .3rem auto;
    font-size: .4rem;
    border: 3px solid #f2dd50;
    border-radius: 30px;
    overflow: hidden;
}
.neck-tab .neck-tab-common{
    margin: .5%;
    width: 47%;
    float: left;
    padding: 1%;
    text-align: center;
    text-decoration: none;
    color: #fff;
}
.neck-tab .neck-tab-left{
    border-radius: 30px 0 0 30px;
}
.neck-tab .neck-tab-right{
    border-radius: 0 30px 30px 0;
}
.neck-tab .neck-tab-all{
    display: block;
    width: 96%;
    float: none;
    margin: .05rem auto;
    border-radius: 30px;
}
.neck-tab .neck-tab-actived{
    background: #2eceb4;
}
