.header-wrap{
    height: 44px;
    line-height: 44px;
    padding-top:20px;
}
.header-wrap-bgcolor{
    background-color: #151b29;
}
.header-icon{
    position: absolute;
    left: .2rem;
    width: .3rem;
    height: 44px;
    line-height: 44px;
    text-align: center;
    background-image: url(../images/backicon.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 14px;
    z-index: 2;
}
.header-title{
    text-align: center;
    font-size: .5rem;
}